$font-family: Andale Mono, monospace;
$font-size: 15px;
$background-color: black;
$primary-color: #63de00;
$border: 1px solid $primary-color;
$sidebar-width: 220px;
$message-form-height: 120px;

html, body, #app, .chat, .content {
  background: $background-color;
  color: $primary-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1em;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}

.chat {
  padding-left: $sidebar-width;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea, input {
  font-family: $font-family;
  font-size: $font-size;
  outline: none;
}

input[type=submit]:focus {
  background: $primary-color;
  color: $background-color;
}

.content {
  border-left: $border;
  position: relative;
  z-index: 1;
}

.user-form {
  position: absolute;
  top: 0;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 1000;
  form {
    display: table-cell;
    padding-bottom: 100px;
    text-align: center;
    vertical-align: middle;
    input {
      background: $background-color;
      border: $border;
      color: $primary-color;
      font-size: $font-size;
      padding: 10px;
    }
  }
}

.room-header {
  background: $background-color;
  border-bottom: $border;
  padding: 10px;
  position: relative;
  z-index: 999;
}

.message-form {
  bottom: 0;
  left: $sidebar-width;
  right: 0;
  height: $message-form-height;
  position: fixed;
  textarea {
    background: $background-color + #0C0C0C;
    border: 0;
    border-left: 1px solid $primary-color;
    color: $primary-color;
    float: left;
    padding: 10px 10px;
    width: 100%;
    height: $message-form-height;
  }

  input[type=submit] {
    display: none;
    background: $background-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    cursor:pointer;
    float: left;
    font-size: 18px;
    height: auto;
    padding: 6px 0 7px;
    width: 8%;
  }
}

.messages {
  left: $sidebar-width;
  right: 0;
  top: 40px;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  ul {
    padding-bottom: $message-form-height + 45px;
  }
  li {
    padding: 5px 15px;
    &.user-message {
      .username:after {
        content: ': ';
      }
    }
    &.system-message {
      color: #666;
      .username:after {
        content: '[notice] ';
      }
    }
  }
}

.users {
  border-right: $border;
  height: 100%;
  left: 0;
  position: absolute;
  width: $sidebar-width;

  .header {
    font-size: 12px;
    padding: 10px 10px 5px;
  }

  li {
    cursor: pointer;
    font-size: 16px;
    &:hover {
      background: $primary-color;
      a {
        color: $background-color;
      }
    }

    a {
      color: $primary-color;
      display: block;
      padding: 5px 10px;
      width: 100%;
      text-decoration: none;
      &.notice:before {
        animation: blinker 2s linear infinite;
        content: '\2022';
      }

      @keyframes blinker {  
        50% { opacity: 0.0; }
      }
    }
  }
}